*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F6F7F8;
}

.hide {
    display: none;
}

.scale-on-hover {
    transition: transform 125ms ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.1);
}