.add-task-content {
    margin-left: 355px;
    margin-top: 145px;
}

h1 {
    font-weight: 700;
    font-size: 61px;
}

form {
    max-width: 960px;
}

.task-form {
    font-size: 21px;
    display: flex;
}

.column-left {
    width: 481px;
    border-right: 1px solid #D1D1D1;
}

.column-right {
    margin-left: 50px;
}

.form-item {
    margin-bottom: 14px;
    margin-right: 50px;
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 428px;
    padding-left: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    margin: 8px 0;
    background-color: white;
    resize: none;
}

::placeholder {
    color: #D1D1D1;
    opacity: 1;
}

.validation-note {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: red;
}

.date-input {
    display: flex;
    width: 428px;
    padding-left: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
    margin: 8px 0px;
    background-color: white;
}

.prio {
    display: flex;
    gap: 10px;
    margin: 8px 0px;
}

.prio-button {
    border: unset;
    border-radius: 10px;
    background-color: white;
    font-size: 21px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    width: 136px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prio-button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.active-urgent {
    color: white;
    font-weight: 700;
    background-color: #FF3D00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-medium {
    color: white;
    font-weight: 700;
    background-color: #FFA800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-low {
    color: white;
    font-weight: 700;
    background-color: #7AE229;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.clear-button {
    background-color: white;
    font-size: 21px;
    padding: 18px 10px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    color: #2A3647;
}

.create-button {
    background-color: #2A3647;
    font-size: 21px;
    padding: 18px 10px;
    border-radius: 10px;
    color: white;
    border: unset;
    font-weight: 700;
}

.clear-button:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.create-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}