<header class="header">
    <span class="title">Kanban Project Management Tool</span>
    <div class="header-icons">
        <img src="assets/img/question-mark-icon.png">
        <img src="assets/img/profile-icon.png">
    </div>
</header>

<div class="side-bar">
    <img class="join-logo" src="assets/img/join-logo.png">
    <nav class="nav">
        <div class="nav-item">
            <img src="assets/img/summary-icon.png">
            <span>Summary</span>
        </div>
        <div class="nav-item">
            <img src="assets/img/board-icon.png">
            <span>Board</span>
        </div>
        <div class="nav-item">
            <img src="assets/img/add-task-icon.png">
            <span>Add Task</span>
        </div>
        <div class="nav-item">
            <img src="assets/img/contacts-icon.png">
            <span>Contacts</span>
        </div>
        <div class="nav-item legal-notice">
            <img src="assets/img/legal-notice-icon.png">
            <span>Legal notice</span>
        </div>
    </nav>
</div>