<div class="content-margin">
    <h1>Add Task</h1>
    <form onsubmit="addTask(); return false;">
        <div class="task-form">
            <div class="column-left">
                <div class="form-item">
                    <label for="title">Title</label>
                    <input id="title" class="form-element" type="text" placeholder="Enter a title">
                    <span id="title-validation" class="validation-note"></span>
                </div>
                <div class="form-item">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-element" cols="60" rows="3"
                        placeholder="Enter a description"></textarea>
                    <span id="description-validation" class="validation-note"></span>
                </div>
                <div class="form-item">
                    <label for="category">Category</label>
                    <div id="category-box" class="dropdown" onclick="toggleDropdown('category')">
                        <button id="category" class="form-element dropdown-button" type="button">
                            <span id="selected-by-default">Select task category</span>
                            <img src="assets/img/dropdow-arrow.png">
                            <div id="category-options" class="dropdown-content collapse">
                                <div id="new-category" onclick="createCategory()">New category</div>
                                <div id="sales" onclick="selectCategory('sales', 'assets/img/purple-circle.png')">
                                    Sales 
                                    <img src="assets/img/purple-circle.png">
                                </div>
                                <div id="backoffice" onclick="selectCategory('backoffice', 'assets/img/turquoise-circle.png')">
                                    Backoffice 
                                    <img src="assets/img/turquoise-circle.png">
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="colors"></div>
                    <span id="category-validation" class="validation-note"></span>
                </div>
                <div class="form-item">
                    <label for="assignment">Assign to</label>
                    <div id="assignment-box" class="dropdown" onclick="toggleDropdown('assignment')">
                        <button id="assignment" class="form-element dropdown-button" type="button">
                            <span>Select contacts to assign</span>
                            <img src="assets/img/dropdow-arrow.png">
                            <div id="assignment-options" class="dropdown-content collapse">
                                <div id="you" onclick="toggleCheckbox('you'); doNotClose(event)">
                                    <span>You</span>
                                    <img src="assets/img/unchecked-checkbox.png">
                                </div>
                                <div id="maximilian-vogel" onclick="toggleCheckbox('maximilian-vogel'); doNotClose(event)">
                                    <span>Maximilian Vogel</span>
                                    <img src="assets/img/unchecked-checkbox.png">
                                </div>
                                <div>
                                    <span>Invite new contact</span>
                                    <img src="assets/img/contacts-icon-black.png">
                                </div>
                            </div>
                        </button>
                    </div>
                    <span id="assignment-validation" class="validation-note"></span>
                </div>
            </div>
            <div class="column-right">
                <div>
                    <div class="form-item">
                        <span>Due date</span>
                        <input id="date" class="date-input" type="date">
                        <span id="date-validation" class="validation-note"></span>
                    </div>
                    <div class="form-item">
                        <span>Prio</span>
                        <div id="prio" class="prio">
                            <button id="urgent-button" class="prio-button" type="button" onclick="choosePrio('urgent')" value="urgent">
                                Urgent
                                <img src="assets/img/default-urgent.png">
                            </button>
                            <button id="medium-button" class="prio-button" type="button" onclick="choosePrio('medium')" value="medium">
                                Medium
                                <img src="assets/img/default-medium.png">
                            </button>
                            <button id="low-button" class="prio-button" type="button" onclick="choosePrio('low')" value="low">
                                Low
                                <img src="assets/img/default-low.png">
                            </button>
                        </div>
                        <span id="prio-validation" class="validation-note"></span>
                    </div>
                    <div class="form-item">
                        <span>Subtasks</span>
                        <div class="input-parent">
                            <input id="subtask-input" class="input-next-to-button" type="text" placeholder="Add new subtask">
                            <img class="cursor-pointer scale-on-hover" onclick="addSubtask()" src="assets/img/plus-icon.png">
                        </div>
                        <div id="subtask-list" class="subtask-list"></div>
                    </div>
                </div>
                <div class="form-buttons">
                    <button id="clear-button" class="clear-button" type="reset"
                    onclick="clearForm()"
                    onmouseenter="changeImageOnHover('clear-button', 'assets/img/hover-cross.png')"
                    onmouseleave="changeImageOnHover('clear-button', 'assets/img/default-cross.png')">
                        Clear
                        <img src="assets/img/default-cross.png">
                    </button>
                    <button class="create-button" type="submit">Create Task
                        <img id="create-button" src="assets/img/check-icon.png">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>